
TEMP/
*.nc
data_access/config.py

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Environments
# =========================
.env
venv/
ENV/
data_access/config.py

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Build / packaging
# =========================
build/
dist/
*.egg-info/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Temporary / misc
# =========================
*.log